<div class="dashboard">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Destination</th>
                <th>Flugnummer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flueg of fluege" (click)="onClick(flueg)" [class.active]="flueg == selectedFlueg" [class.success]="flueg == selectedFlueg">
                <td>{{flueg.hour}}:{{flueg.min}}</td>
                <td>{{flueg.destination}}</td>
                <td>{{flueg.id}}</td>
            </tr>
        </tbody>
    </table>

    <!--<div class="list-group">
        <a class="list-group-item" [class.active]="flueg == selectedFlueg" *ngFor="let flueg of fluege" (click)="onClick(flueg)">
            <span class="badge nummer">{{flueg.id}}</span>
            <span class="destination">{{flueg.destination}}</span>
            <p class="list-group-item-text" *ngIf="flueg == selectedFlueg">
                <span class="time">{{flueg.time | date:"H:m" }}</span> Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
        </a>
    </div>-->
</div>